---
import BookCard from "../../components/BookCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const books = await getCollection("books");

// const books = [
//     { title: "The Name of The Wind", author: "Patrick Rothfuss" },
//     { title: "The Final Empire", author: "Brandon Sanderson" },
//     { title: "The Blade Itself", author: "Joe Abercrombie" },
//     { title: "The Will of the Many", author: "James Islington" },
// ];

// const books: Book[] = []
---

<BaseLayout>
    <div class="space-y-6">
        <h2 class="text-3xl font-bold tracking-tight text-white">Books</h2>
        {books.map((book) => <BookCard book={book} />)}
        {
            !books.length && (
                <p class="text-sm text-slate-400">No books to show.</p>
            )
        }
    </div>
</BaseLayout>
